/* Dashboard */

.label {
    text-align: right;
}
.field {
    text-align: left;
}

/* School */
#input_school_name {
    width: 100%;
}

.search {
    display: flex;
    flex-direction: column;
}
.search-title {
    display: flex;
    justify-content: center;
}
.search-form {
    display: flex;
    justify-content: center;
}






.nav-item {
    border: 1px solid #98e1b7;
    background-color: #d6e9f8;
    padding: 5px 10px;
    width: 200px;
    line-height: 30px;
    display: flex;
    margin-right: 5px;
    margin-bottom: 5px;
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-item > a {
    flex: 1;
    text-decoration: none;
    color: #343a40;
    text-align: center;
}

.nav-item:hover {
    background-color: #98e1b7;
}

.links-container {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.links-container a {
    border: 1px solid #98e1b7;
    margin-right: 5px;
    padding: 5px 10px;
    width: 300px;
    text-decoration: none;
    background-color: #d6e9f8;
    color: #343a40;
}

.links-container a:hover {
    background-color: #98e1b7;
}

.selected-button {
    background-color: #98e1b7;
}

.group-item-button {
    border: 1px solid #000000;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6e9f8;
    cursor: pointer;
}

.group-item-button a {
    text-decoration: none;
    color: #343a40;
}

.group-item-button:hover {
    background-color: #98e1b7;
}






.card-header {
    display: flex;
    justify-content: space-between;
}

.button-up {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #d6e9f8;
    width: 32px;
    line-height: 26px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.button-up:hover {
    background-color: #98e1b7;
}

.card-row-button .button-down {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #d6e9f8;
    width: 32px;
    line-height: 26px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.card-row-button .button-down:hover {
    background-color: #98e1b7;
}

.card-row-button a {
    color: #000000;
    text-decoration: none;
}

.button-up-group {
    text-align: right;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    line-height: 32px;
}

.card-row .card-row-title {
    text-align: right;
    color: gray;
}

.card-row .card-row-head {
    color: #000000;
    font-weight: 700;
}

.card-row .card-row-value {
    text-align: left;
}

.card-row .card-row-value .card-row-item {
    display: flex;
    justify-content: left;
    line-height: 16px;
}

.card-row .card-row-button {
    width: 100%;
    flex: 1;
    /*display: flex;*/
    flex-direction: row;
}

label {
    margin: 0 0 0 10px;
}

.error-without {
    color: limegreen;
}

.button-download {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #0a53be;
    width: 32px;
    line-height: 26px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.button-download:hover {
    background-color: #0d6efd;
}







